#container{
margin:20px;
}

#container::before{
content:"Before Container";
color:#f00;
font-size:20px;
display:inline-block;
}

#container::after{
content:"After Container";
color:#f00;
font-size:20px;
display:inline-block;
}

